.wrapper {
  position: relative;
  background-color: burlywood;
}

.header {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

.baseGrainContainer {
  height: 600px;
  width: auto;
}

.funnel {
  height: 400px;
  width: auto;
}

.leftPipe {
  height: 400px;
  width: 100%;
  margin-left: 90px;
}
