.wrapper {
  position: relative;
  background-color: burlywood;
  margin-bottom: 100px;
}

.header {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

.baseGrainContainer {
  height: 600px;
  width: auto;
}

.funnel {
  height: 400px;
  width: auto;
}

.leftPipe {
  height: 400px;
  width: auto;
  margin-left: 7.73vw;
}
