.wrapper {
  position: relative;
  background-color: burlywood;
  margin-bottom: 100px;
}

.header {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

.baseGrainContainer {
  position: relative;
  height: 600px;
  width: auto;
}

.upwardFunnel {
  position: relative;
  height: 425px;
  width: auto;
  margin-left: -8.2vw;
}

.leftPipe {
  position: relative;
  height: auto;
  width: 100%;
  /* margin-left: 7.73vw; */
}

.downwardFunnel {
  position: relative;
  margin-left: 23.71vw;
  height: 280px;
  width: auto;
}
