.beerProcessHeader {
  /* wrapper */
  margin-top: 200px;
  /* wrapper */
}

.millingWrapper {
  text-align: center;
  justify-content: center;
  display: flex;
  /* Parallax Effect */
  background-image: url("../../Images/wheatField.jpg");
  height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Parallax Effect */
}

.millingContainer {
  position: relative;
  /* wrapper */
  margin-top: 100px;
  /* wrapper */
}

.millingRow {
  position: inherit;
}

.millingCol {
  position: inherit;
  text-align: center;
  justify-content: center;
}

.millingFunnelOval {
  z-index: 1002 !important;
  position: relative;
  /* position settings */
  /* position settings */
  /* oval */
  border: 3px solid #555;
  height: 75px;
  width: 500px;
  background-color: #929292;
  border-radius: 50%;
}

.millingFunnelTrapezoid {
  z-index: 1001 !important;
  position: relative;
  width: 494px;
  height: auto;
  /* position settings */
  margin-top: -35px;
  margin-left: 3px;
  /* position settings */
  /* trapezoid */
  border-top: 200px solid #797979;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.millingFunnelTrapezoidOutline {
  z-index: 1000 !important;
  position: relative;
  width: 500px;
  height: auto;
  /* position settings */
  margin-top: -200px;
  /* position settings */
  /* trapezoid */
  border-top: 200px solid #555;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.millingSiloContainer {
  z-index: 1002 !important;
  position: relative;
  /* border-top: 3px solid #555; */
  border-left: 3px solid #555;
  border-right: 3px solid #555;
  /* position settings */
  margin-left: 90px;
  /* position settings */
  /* rectangle */
  height: 300px;
  width: 320px;
  /* Saw blade container */
  background-color: #fff;
  /* Saw blade container */
}

.blade1,
.blade2,
.blade3 {
  z-index: 1010 !important;
  position: relative;
  /* Blade Opacity */
  opacity: 0.85;
  /* Blade Opacity */
  width: 300px;
  height: auto;
  /* position settings */
  margin-right: 40px;
  /* position settings */
}

.blade1 {
  /* position settings */
  margin-top: -500px;
  /* position settings */
}

.blade2 {
  /* position settings */
  margin-top: -370px;
  /* position settings */
}

.blade3 {
  /* position settings */
  margin-top: -255px;
  /* position settings */
}

@media (prefers-reduced-motion: no-preference) {
  .blade1,
  .blade3 {
    animation: blade-spin1 infinite 2.5s linear;
  }
}

@keyframes blade-spin1 {
  from {
    transform: rotateX(75deg) rotateY(10deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(75deg) rotateY(10deg) rotateZ(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .blade2 {
    animation: blade-spin2 infinite 2.5s linear;
  }
}

@keyframes blade-spin2 {
  from {
    transform: rotateX(75deg) rotateY(170deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(75deg) rotateY(170deg) rotateZ(360deg);
  }
}

.milledGrainFunnelTrapezoid {
  z-index: 1001 !important;
  position: relative;
  width: 314px;
  height: auto;
  /* position settings */
  margin-top: -95px;
  margin-left: 93px;
  /* position settings */
  /* trapezoid */
  border-top: 200px solid #ffcb01;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.milledGrainFunnelTrapezoidOutline {
  z-index: 1000 !important;
  position: relative;
  width: 320px;
  height: auto;
  /* position settings */
  margin-top: -200px;
  margin-left: 90px;
  /* position settings */
  /* trapezoid */
  border-top: 200px solid #555;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.millingColContent {
  font-family: "Uncial Antiqua", cursive;
  position: inherit;
  text-align: center;
  justify-content: center;
}
