.beerProcessHeader {
  /* wrapper */
  margin-top: 200px;
  /* wrapper */
}

.millingWrapper {
  text-align: center;
  justify-content: center;
  display: flex;
  /* Parallax Effect */
  background-image: url("../../Images/wheatField.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Parallax Effect */
}

.millingContainer {
  position: relative;
  /* wrapper */
  margin-top: 100px;
  /* wrapper */
}

.millingRow {
  position: inherit;
}

.millingCol {
  position: inherit;
  text-align: center;
  justify-content: center;
}

.millingFunnelOval {
  z-index: 1002 !important;
  position: relative;
  /* position settings */
  /* position settings */
  /* oval */
  border: 3px solid #000;
  height: 75px;
  width: 500px;
  background-color: #fff;
  border-radius: 50%;
}

.millingFunnelTrapezoid {
  z-index: 1001 !important;
  position: relative;
  width: 494px;
  height: auto;
  /* position settings */
  margin-top: -35px;
  margin-left: 3px;
  /* position settings */
  /* trapezoid */
  border-top: 200px solid #fff;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.millingFunnelTrapezoidOutline {
  z-index: 1000 !important;
  position: relative;
  width: 500px;
  height: auto;
  /* position settings */
  margin-top: -200px;
  /* position settings */
  /* trapezoid */
  border-top: 200px solid #000;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.millingSiloContainer {
  z-index: 1000 !important;
  position: relative;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  /* position settings */
  margin-left: 90px;
  /* position settings */
  /* rectangle */
  height: 300px;
  width: 320px;
  background-color: #555;
}

.millingColContent {
  font-family: "Uncial Antiqua", cursive;
  position: inherit;
  text-align: center;
  justify-content: center;
}
