.fontStyling {
  /* 1 */
  font-family: "Macondo Swash Caps", cursive;
  /* 2 */
  font-family: "Macondo", cursive;
  /* 3 */
  font-family: "Nova Oval", cursive;
  /* 4 */
  font-family: "Lily Script One", cursive;
  /* 5 */
  font-family: "Uncial Antiqua", cursive;
}

.wrapper {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 300px;
}

.trapezoid {
  margin-top: 100px;
  margin-right: 800px;
  /* trapezoid */
  border-top: 200px solid #555;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  height: 0;
  width: 500px;
}

.firstRectangleRow {
  margin-left: 0.05vw;
}

.rectangle1 {
  margin-left: 75px;
  /* rectangle */
  height: 300px;
  width: 350px;
  background-color: #555;
}

.firstGearRow {
  margin-left: 10px;
}

.firstGear {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .firstGear {
    animation: firstGear-spin-right infinite 10s linear;
  }
}

@keyframes firstGear-spin-right {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(365deg);
  }
}

.secondGear {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .secondGear {
    animation: secondGear-spin-left reverse infinite 10s linear;
  }
}

@keyframes secondGear-spin-left {
  from {
    transform: rotate(12.5deg);
  }
  to {
    transform: rotate(372.5deg);
  }
}

.thirdGear {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .thirdGear {
    animation: thirdGear-spin-right infinite 10s linear;
  }
}

@keyframes thirdGear-spin-right {
  from {
    transform: rotate(7deg);
  }
  to {
    transform: rotate(367deg);
  }
}

.emptyRectangle1 {
  margin-top: 230px;
  z-index: 101;
  border-radius: 0 0 0 50px;
  /* rectangle */
  height: 50px;
  width: 550px;
  background-color: #ffffff;
  /* background-color: #000000; */
}

.rectangle2 {
  margin-top: -65px;
  margin-left: 75px;
  border-radius: 0 0 0 50px;
  /* rectangle */
  height: 170px;
  width: 900px;
  background-color: #555;
  /* to bottom of screen */
  margin-bottom: 300px;
}
