.fontStyling {
  /* 1 */
  font-family: "Macondo Swash Caps", cursive;
  /* 2 */
  font-family: "Macondo", cursive;
  /* 3 */
  font-family: "Nova Oval", cursive;
  /* 4 */
  font-family: "Lily Script One", cursive;
  /* 5 */
  font-family: "Uncial Antiqua", cursive;
}

.wrapper {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 300px;
}

.trapezoid {
  margin-top: 100px;
  margin-right: 800px;
  border-radius: 40px 40px 0 0;
  /* trapezoid */
  border-top: 200px solid #555;
  border-left: 75px solid transparent;
  border-right: 72px solid transparent;
  height: 0;
  width: 500px;
}

.firstRectangleRow {
  margin-left: 0.05vw;
}

.rectangle1 {
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  margin-left: 75px;
  /* rectangle */
  height: 300px;
  width: 350px;
  background-color: #555;
}

.firstGearRow,
.thirdGearRow {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
}

.firstGearTop,
.firstGearBottom {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .firstGearTop,
  .firstGearBottom {
    animation: firstGearTop-spin-right infinite 10s linear;
  }
}

@keyframes firstGearTop-spin-right {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(365deg);
  }
}

.secondGearTop,
.secondGearBottom {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .secondGearTop,
  .secondGearBottom {
    animation: secondGearTop-spin-left reverse infinite 10s linear;
  }
}

@keyframes secondGearTop-spin-left {
  from {
    transform: rotate(12.5deg);
  }
  to {
    transform: rotate(372.5deg);
  }
}

.thirdGearTop,
.thirdGearBottom {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .thirdGearTop,
  .thirdGearBottom {
    animation: thirdGearTop-spin-right infinite 10s linear;
  }
}

@keyframes thirdGearTop-spin-right {
  from {
    transform: rotate(7deg);
  }
  to {
    transform: rotate(367deg);
  }
}

.secondGearRow {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
}

.firstGearMiddle {
  margin-left: 55px;
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .firstGearMiddle {
    animation: firstGearMiddle-spin-right infinite 10s linear;
  }
}

@keyframes firstGearMiddle-spin-right {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(365deg);
  }
}

.secondGearMiddle {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .secondGearMiddle {
    animation: secondGearMiddle-spin-left reverse infinite 10s linear;
  }
}

@keyframes secondGearMiddle-spin-left {
  from {
    transform: rotate(12.5deg);
  }
  to {
    transform: rotate(372.5deg);
  }
}

.thirdGearBottom {
  width: 110px;
  height: auto;
}

.emptyRectangle1 {
  z-index: 101;
  border-radius: 0 0 0 50px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  /* rectangle */
  height: 365px;
  width: 550px;
  background-color: #ffffff;
  /* background-color: #000000; */
}

.rectangle2 {
  margin-top: -65px;
  margin-left: 75px;
  border-radius: 0 0 0 50px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  /* rectangle */
  height: 170px;
  width: 900px;
  background-color: #555;
  /* to bottom of screen */
  margin-bottom: 300px;
}
