.fontStyling {
  /* 1 */
  font-family: "Macondo Swash Caps", cursive;
  /* 2 */
  font-family: "Macondo", cursive;
  /* 3 */
  font-family: "Nova Oval", cursive;
  /* 4 */
  font-family: "Lily Script One", cursive;
  /* 5 */
  font-family: "Uncial Antiqua", cursive;
}

.wrapper {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 300px;
}

.funnelWrapper {
  display: flexbox;
}

.topFunnelToCatchGrain {
  /* z-index: 1001 !important; */
  margin-top: 100px;
  margin-right: 768px;
  /* trapezoid */
  border-top: 200px solid #000;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  height: 0;
  width: 503.5px;
}

.topFunnelToCatchGrainOutline {
  margin-top: -200px;
  margin-left: -72.4px;
  /* trapezoid */
  border-top: 200px solid #fff;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  height: 0;
  width: 498px;
}

.ovalShapeOnTopOfTopFunnel {
  margin-top: -240px;
  margin-bottom: 165px;
  display: block;
  z-index: 102 !important;
  /* oval */
  border: 3px solid #000;
  height: 75px;
  width: 503.5px;
  background-color: #fff;
  border-radius: 50%;
}

.firstRectangleRow {
  margin-left: 0.05vw;
}

.gearBox1 {
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  margin-left: 75px;
  /* rectangle */
  height: 355px;
  width: 353px;
  background-color: #fff;
}

.firstGearRow,
.thirdGearRow {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
}

.firstGearTop,
.firstGearBottom {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .firstGearTop,
  .firstGearBottom {
    animation: firstGearTop-spin-right infinite 10s linear;
  }
}

@keyframes firstGearTop-spin-right {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(365deg);
  }
}

.secondGearTop,
.secondGearBottom {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .secondGearTop,
  .secondGearBottom {
    animation: secondGearTop-spin-left reverse infinite 10s linear;
  }
}

@keyframes secondGearTop-spin-left {
  from {
    transform: rotate(12.5deg);
  }
  to {
    transform: rotate(372.5deg);
  }
}

.thirdGearTop,
.thirdGearBottom {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .thirdGearTop,
  .thirdGearBottom {
    animation: thirdGearTop-spin-right infinite 10s linear;
  }
}

@keyframes thirdGearTop-spin-right {
  from {
    transform: rotate(7deg);
  }
  to {
    transform: rotate(367deg);
  }
}

.secondGearRow {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
}

.firstGearMiddle {
  margin-left: 55px;
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .firstGearMiddle {
    animation: firstGearMiddle-spin-right infinite 10s linear;
  }
}

@keyframes firstGearMiddle-spin-right {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(365deg);
  }
}

.secondGearMiddle {
  width: 110px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .secondGearMiddle {
    animation: secondGearMiddle-spin-left reverse infinite 10s linear;
  }
}

@keyframes secondGearMiddle-spin-left {
  from {
    transform: rotate(12.5deg);
  }
  to {
    transform: rotate(372.5deg);
  }
}

.thirdGearBottom {
  width: 110px;
  height: auto;
}

.bottomFunnelToCatchMilledGrain {
  margin-left: 90px;
  /* trapezoid */
  border-top: 150px solid #000;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  height: 0;
  width: 353px;
}

.bottomFunnelToCatchMilledGrainOutline {
  margin-top: -150px;
  margin-left: -146px;
  /* trapezoid */
  border-top: 150px solid #fecb00;
  /* border-top: 150px solid transparent; */
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  height: 0;
  width: 345px;
  background-image: url("../../curvedDiv.svg");
}

.grainPile {
  margin-top: -226px;
  margin-left: -350px;
  width: 347px;
  height: auto;
  z-index: 1001 !important;
}

.innerPipetoMashingArea1 {
  margin-left: 4px;
  /* rectangle */
  height: 150px;
  width: 45px;
  background-color: #fecb00;
}

.outerPipeToMashingArea1 {
  margin-left: 240px;
  /* rectangle */
  height: 150px;
  width: 53px;
  background-color: #000000;
}

.innerPipetoMashingArea2 {
  border-bottom: 4px solid #000;
  border-left: 4px solid #000;
  border-radius: 0 0 0 50px;
  margin-left: 45px;
  /* rectangle */
  height: 10px;
  width: 600px;
  background-color: #fff;
}

.outerPipeToMashingArea2 {
  border-bottom: 4px solid #000;
  border-left: 4px solid #000;
  border-radius: 0 0 0 50px;
  margin-left: 240px;
  /* rectangle */
  height: 90px;
  width: 649px;
  background-color: #fecb00;
}

.innerCornerPipetoMashingArea2 {
  margin-top: 76px;
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  border-radius: 0 50px 0 0;
  /* rectangle */
  height: 150px;
  width: 20px;
  background-color: #fff;
  /* to bottom of screen */
  margin-bottom: 200px;
}

.outerCornerPipeToMashingArea2 {
  margin-top: 6px;
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  border-radius: 0 50px 0 0;
  /* rectangle */
  height: 230px;
  width: 80px;
  background-color: #fecb00;
}
